.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #333; /* darker shade for a more modern look */
    color: #fff; /* pure white for better contrast */
    text-align: left;
    padding: 10px; /* more padding for better text readability */
    border-radius: 5px; /* rounded corners for a modern look */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
    position: absolute;
    z-index: auto;
    bottom: 100%;
    left: 100%;
    margin-left: -500px;
    margin-top: -000px;
    margin-bottom: -50px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s; /* transition visibility for smoother fade-in */
}
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 125%;
    left: 100%;
    margin-left: -105px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #1DB954;
}

a:hover {
    color: #1ED760;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
    /* margin: 20px 0; */
}

table, th, td {
    border: 1px solid #1DB954;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #1DB954;
    color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #2E2E2E;
}

tr:hover {
    background-color: #1ED760;
    color: #FFFFFF;
}